.foryou {
    .package1 {
        margin-top: -50px;
    }
    .title {
       .order {
        position: absolute;
        font-size: 192px;
        top: -150px;
        color: #333;
        opacity: 0.1;
       }
    }
}